*{
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: black;
	width: 5px;
	border-radius: 15px;
}

.floatingItems{
    height: 100px;
	width: 100%;
	position: fixed;
}

.floatingItems img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.floatingItems h4,h5{
    color: white;
    text-align: center;
}

.mainScreen{
	display: flex;
	flex-direction: row;
}
.side{
	height: 100vh;
	width: 50%;
}

.side form{
	width: 250px;
	margin: 250px auto 0 auto;
}

.title{
    text-align: center; 
    color: white; 
    font-size: 45px;
}

.message{
    margin-top:10px;
    text-align:center;
    font-weight:bold;
}

input, button{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	border-radius: 20px;
	border: 0;
	outline: 0;
}

input{
	width: 250px;
	padding-left: 10px; 
}

button{
	display: block;
	background-color: #BEC8C8;
	cursor: pointer;
}
